<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>简历投递添加</title>
    <!-- bootstrap样式，地图插件使用 -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../layui/css/layui.css">
    <!-- 样式 -->
    <link rel="stylesheet" href="../../css/style.css" />
    <!-- 主题（主要颜色设置） -->
    <link rel="stylesheet" href="../../css/theme.css" />
    <!-- 通用的css -->
    <link rel="stylesheet" href="../../css/common.css" />
</head>
<style>
    html::after {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        content: '';
        display: block;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        z-index: -1;
    }
    #swiper {
        overflow: hidden;
        margin: 0 auto;
    }
    #swiper .layui-carousel-ind li {
        width: 20px;
        height: 10px;
        border-width: 0;
        border-style: solid;
        border-color: rgba(0,0,0,.3);
        border-radius: 6px;
        background-color: #f7f7f7;
        box-shadow: 0 0 6px rgba(255,0,0,.8);
    }
    #swiper .layui-carousel-ind li.layui-this {
        width: 30px;
        height: 10px;
        border-width: 0;
        border-style: solid;
        border-color: rgba(0,0,0,.3);
        border-radius: 6px;
    }

    button, button:focus {
        outline: none;
    }

    .data-add-container .add .layui-select-title .layui-unselect {
        padding: 0 12px;
        height: 40px;
        font-size: 15px;
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;
        text-align: center;
    }
    .data-add-container .add .layui-form-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .data-add-container .layui-form-pane .layui-form-item[pane] .layui-form-label {
        margin: 0;
        position: inherit;
        background: transparent;
        border: 0;
    }
    .data-add-container .add .layui-input-block {
        margin: 0;
        flex: 1;
    }
    .data-add-container .layui-form-pane .layui-form-item[pane] .layui-input-inline {
        margin: 0;
        flex: 1;
        display: flex;
    }
</style>
<body style="background: #fff; ">
    <div id="app">
        <div class="data-add-container  sub_borderColor" :style='{"padding":"20px","margin":"30px auto","backgroundColor":"rgba(255, 255, 255, 0)","borderRadius":"10px","borderWidth":"1px","borderStyle":"solid"}'>

            <form class="layui-form layui-form-pane add" lay-filter="myForm">
                <!-- 级联表 简历 -->
                <div class="layui-form-item main_borderColor" :style='{"padding":"10px","boxShadow":"0 0 0px rgba(255,0,0,.8)","margin":"0 0 10px 0","backgroundColor":"rgba(255, 255, 255, 0)","borderRadius":"1px","borderWidth":"0 0 1px 0","borderStyle":"solid"}'>
                    <label  :style='{"width":"auto","borderColor": "rgba(255, 255, 255, 0)","padding":"0 12px 0 0","backgroundColor":"rgba(255, 255, 255, 0)","fontSize":"15px","color":"#333","textAlign":"left"}' class="layui-form-label">
                        简历：
                    </label>
                    <div class="layui-input-block">
                        <select name="jianliId" id="jianliId" lay-filter="jianliId">
                            <option v-for="(item,index) in jianliList" v-bind:key="index" :value="item.id" :selected="detail.jianliId == item.id?true:false" :key="item.id">{{ item.jianliName }}</option>
                        </select>
                    </div>
                </div>
                <!-- 级联表 招聘 -->
                <!--<div class="layui-form-item main_borderColor" :style='{"padding":"10px","boxShadow":"0 0 0px rgba(255,0,0,.8)","margin":"0 0 10px 0","backgroundColor":"rgba(255, 255, 255, 0)","borderRadius":"1px","borderWidth":"0 0 1px 0","borderStyle":"solid"}'>
                    <label  :style='{"width":"auto","borderColor": "rgba(255, 255, 255, 0)","padding":"0 12px 0 0","backgroundColor":"rgba(255, 255, 255, 0)","fontSize":"15px","color":"#333","textAlign":"left"}' class="layui-form-label">
                        招聘：
                    </label>
                    <div class="layui-input-block">
                        <select name="zhaopinId" id="zhaopinId" lay-filter="zhaopinId">
                            <option v-for="(item,index) in zhaopinList" v-bind:key="index" :value="item.id" :selected="detail.zhaopinId == item.id?true:false" :key="item.id">{{ item.zhaopinName }}</option>
                        </select>
                    </div>
                </div>-->
    <!-- 当前表的 -->
                <!-- 级联表的表id -->
<!--                <input type="hidden" :value="detail.jianliId" id="jianliId" name="jianliId"/>-->
                <!-- 级联表的表id -->
                <input type="hidden" :value="detail.zhaopinId" id="zhaopinId" name="zhaopinId"/>
                <!--<div class="layui-form-item main_borderColor" :style='{"padding":"10px","boxShadow":"0 0 0px rgba(255,0,0,.8)","margin":"0 0 10px 0","backgroundColor":"rgba(255, 255, 255, 0)","borderRadius":"1px","borderWidth":"0 0 1px 0","borderStyle":"solid"}'>
                    <label  :style='{"width":"auto","borderColor": "rgba(255, 255, 255, 0)","padding":"0 12px 0 0","backgroundColor":"rgba(255, 255, 255, 0)","fontSize":"15px","color":"#333","textAlign":"left"}' class="layui-form-label">
                        笔试文件：
                    </label>
                    <div class="layui-input-block">
                        <div v-if="detail.zhaopinToudiFile" style="display:inline-block;margin-right:10px;">
                            <button v-if="detail.zhaopinToudiFile != null" @click="jump(baseUrl+detail.zhaopinToudiFile)" id="zhaopinToudiFileImg" type="button" class="layui-btn layui-btn-success">点击查看</button>
                            <span v-if="detail.zhaopinToudiFile == null">暂无文件</span>
                            <input type="hidden" :value="detail.zhaopinToudiFile" id="zhaopinToudiFile" name="zhaopinToudiFile" />
                        </div>
                        <button v-if="!ro.zhaopinToudiFile" :style='{"padding":"0 10px","boxShadow":"0 0 0px rgba(255,0,0,.5)","margin":"0 10px 0 0","borderColor":"#ccc","color":"#fff","borderRadius":"8px","borderWidth":"0","width":"auto","fontSize":"14px","borderStyle":"solid","height":"44px"}' type="button" class="layui-btn btn-theme main_backgroundColor" id="zhaopinToudiFileUpload">
                            <i v-if="true" :style='{"color":"#fff","show":true,"fontSize":"14px"}' class="layui-icon">&#xe67c;</i>上传笔试文件
                        </button>
                    </div>
                </div>
                    <div class="layui-form-item main_borderColor" :style='{"padding":"10px","boxShadow":"0 0 0px rgba(255,0,0,.8)","margin":"0 0 10px 0","backgroundColor":"rgba(255, 255, 255, 0)","borderRadius":"1px","borderWidth":"0 0 1px 0","borderStyle":"solid"}'>
                    <label  :style='{"width":"auto","borderColor": "rgba(255, 255, 255, 0)","padding":"0 12px 0 0","backgroundColor":"rgba(255, 255, 255, 0)","fontSize":"15px","color":"#333","textAlign":"left"}' class="layui-form-label">
                        结果：
                    </label>
                    <div class="layui-input-block">
                        <select name="zhaopinToudiJieguoTypes" id="zhaopinToudiJieguoTypes" lay-filter="zhaopinToudiJieguoTypes" :disabled="ro.zhaopinToudiJieguoTypes">
                            <option v-for="(item,index) in zhaopinToudiJieguoTypesList" v-bind:key="index" :value="item.codeIndex" :selected="detail.zhaopinToudiJieguoTypes == item.codeIndex?true:false" :key="item.codeIndex">{{ item.indexName }}</option>
                        </select>
                    </div>
                </div>-->
                <div class="layui-form-item main_borderColor" :style='{"padding":"10px","boxShadow":"0 0 0px rgba(255,0,0,.8)","margin":"0 0 10px 0","backgroundColor":"rgba(255, 255, 255, 0)","borderRadius":"1px","borderWidth":"0 0 1px 0","borderStyle":"solid"}'>
                    <div class="layui-input-block" style="text-align: right;">
                        <button :style='{"padding":"0 10px","boxShadow":"0 0 0px rgba(255,0,0,.5)","margin":"0 10px","borderColor":"#ccc","backgroundColor":"rgba(75, 92, 196, 1)","color":"#fff","borderRadius":"8px","borderWidth":"0","width":"25%","fontSize":"14px","borderStyle":"solid","height":"44px"}' class="layui-btn btn-submit" lay-submit lay-filter="thisSubmit">投递</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <script src="../../layui/layui.js"></script>
    <script src="../../js/vue.js"></script>
    <!-- 引入element组件库 -->
    <script src="../../xznstatic/js/element.min.js"></script>
    <!-- 引入element样式 -->
    <link rel="stylesheet" href="../../xznstatic/css/element.min.css">
    <!-- 组件配置信息 -->
    <script src="../../js/config.js"></script>
    <!-- 扩展插件配置信息 -->
    <script src="../../modules/config.js"></script>
    <!-- 工具方法 -->
    <script src="../../js/utils.js"></script>
    <!-- 校验格式工具类 -->
    <script src="../../js/validate.js"></script>
    <!-- 地图 -->
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=ca04cee7ac952691aa67a131e6f0cee0"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.AMapPositionPicker.js"></script>

    <script>
        var jquery = $;

        var vue = new Vue({
            el: '#app',
            data: {
                //项目路径
                baseUrl:"",
                dataList: [],
                ro:{
                    jianliId: false,
                    zhaopinId: false,
                    insertTime: false,
                    zhaopinToudiYesnoTypes: false,
                    zhaopinToudiYesnoText: false,
                    zhaopinToudiShenheTime: false,
                    zhaopinToudiFile: false,
                    zhaopinToudiJieguoTypes: false,
                    createTime: false,
                },
                detail: {
                    jianliId: '',
                    zhaopinId: '',
                    insertTime: '',
                    zhaopinToudiYesnoTypes: '',//数字
                    zhaopinToudiYesnoValue: '',//数字对应的值
                    zhaopinToudiYesnoText: null,
                    zhaopinToudiShenheTime: '',
                    zhaopinToudiFile: '',
                    zhaopinToudiJieguoTypes: '',//数字
                    zhaopinToudiJieguoValue: '',//数字对应的值
                    createTime: '',
                },
                jianliList:[],//级联表列表 简历
                jianli: {},//级联表单个 简历
                zhaopinList:[],//级联表列表 招聘
                zhaopin: {},//级联表单个 招聘

                // 下拉框
                zhaopinToudiYesnoTypesList: [],
                zhaopinToudiJieguoTypesList: [],

                centerMenu: centerMenu
            },
            updated: function() {
                layui.form.render('select', 'myForm');
            },
            computed: {
            },
            methods: {
                jump(url) {
                    jump(url)
                }
            }
        })


        layui.use(['layer', 'element', 'carousel', 'http', 'jquery', 'form', 'upload', 'laydate','tinymce'], function() {
            var layer = layui.layer;
            var element = layui.element;
            var carousel = layui.carousel;
            var http = layui.http;
            var jquery = layui.jquery;
            var form = layui.form;
            var upload = layui.upload;
            var laydate = layui.laydate;
            var tinymce = layui.tinymce;
            vue.baseUrl = http.baseurl

            localStorage.setItem("goUtl","./pages/zhaopinToudi/list.html")

            //var jianliId = http.getParam('jianliId');
            let jianliId = localStorage.getItem("jianliId")
            if(jianliId != null && jianliId != ""){
                //单个 简历查询
                initializationJianli(jianliId);
            }
            //列表 简历查询
            initializationJianliList();
            //var zhaopinId = http.getParam('zhaopinId');
            let zhaopinId = localStorage.getItem("zhaopinId")
            if(zhaopinId != null && zhaopinId != ""){
                //单个 招聘查询
                initializationZhaopin(zhaopinId);
            }
            //列表 招聘查询
            initializationZhaopinList();
            // 下拉框
            // 审核状态的查询和初始化
            zhaopinToudiYesnoTypesSelect();
            // 结果的查询和初始化
            zhaopinToudiJieguoTypesSelect();

           // 上传文件
            // 笔试文件的文件上传
            upload.render({
                //绑定元素
                elem: '#zhaopinToudiFileUpload',
                //上传接口
                url: http.baseurl + 'file/upload',
                // 请求头
                headers: {
                    Token: localStorage.getItem('Token')
                },
                // 允许上传时校验的文件类型
                accept: 'file',
                before: function () {
                    //loading层
                    var index = layer.load(1, {
                        shade: [0.1, '#fff'] //0.1透明度的白色背景
                    });
                },
                // 上传成功
                done: function (res) {
                    console.log(res);
                    layer.closeAll();
                    if (res.code == 0) {
                        layer.msg("上传成功", {
                            time: 2000,
                            icon: 6
                        })
                        var url = 'upload/' + res.file;
                        jquery('#zhaopinToudiFile').val(url);
                        vue.detail.zhaopinToudiFile = url;
                        jquery('#zhaopinToudiFileImg').attr('src', url);
                    } else {
                        layer.msg(res.msg, {
                            time: 2000,
                            icon: 5
                        })
                    }
                },
                //请求异常回调
                error: function () {
                    layer.closeAll();
                    layer.msg("请求接口异常", {
                        time: 2000,
                        icon: 5
                    })
                }
            });
            // 日期效验规则及格式
            dateTimePick();
            // 表单效验规则
            form.verify({
                // 正整数效验规则
                integer: [
                    /^[1-9][0-9]*$/
                    ,'必须是正整数'
                ]
                // 小数效验规则
                ,double: [
                    /^[1-9][0-9]{0,5}(\.[0-9]{1,2})?$/
                    ,'最大整数位为6为,小数最大两位'
                ]
            });

            // session独取
            let table = localStorage.getItem("userTable");
            http.request(table+"/session", 'get', {}, function (data) {
                // 表单赋值
                //form.val("myForm", data.data);
                // data = data.data;
                for (var key in data) {
                    vue.detail[table+"Id"] = data.id
                }
            });

            //修改
            if(http.getParam('zhaopinToudiId')){
                http.request(`zhaopinToudi/info/${http.getParam('zhaopinToudiId')}`, 'get', {}, function(data) {
                    vue.detail = data.data
                    jquery("#insertTime").val(vue.detail.insertTime)
                    jquery("#zhaopinToudiShenheTime").val(vue.detail.zhaopinToudiShenheTime)
                    jquery("#createTime").val(vue.detail.createTime)
                });
            }

            // 提交
            form.on('submit(thisSubmit)', function (data) {
                data = data.field;
                    data["yonghuId"]= localStorage.getItem("userid");
                if(http.getParam('zhaopinToudiId')){
                    data["id"]= http.getParam('zhaopinToudiId')
                }
                data["zhaopinToudiYesnoTypes"]= 1;
                // 提交数据
                http.requestJson(`zhaopinToudi/${http.getParam("zhaopinToudiId")?"update":"add"}`, 'post', data, function (res) {
                    if(res.code == 0){
                        layer.msg('投递成功,请等待审核', {
                            time: 2000,
                            icon: 6
                        }, function () {
                            vue.jump("../zhaopinToudi/list.html");
                                http.remove('zhaopinToudiId')
                            // back();
                        });
                    }else{
                        layer.msg(res.msg, {time: 5000,icon: 5});
                    }
                });
                return false
            });

        });
        // 日期框初始化
        function dateTimePick(){
            var myDate = new Date();  //获取当前时间
            /*
                ,change: function(value, date, endDate){
                    value       得到日期生成的值，如：2017-08-18
                    date        得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                    endDate     得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
            */
            // 回复时间的开始时间和结束时间的效验及格式
            var zhaopinToudiShenheTime = layui.laydate.render({
                elem: '#zhaopinToudiShenheTime'
	            ,type: 'datetime'
                ,btns: ['clear', 'confirm']
                // ,min:myDate.toLocaleString()
                ,change: function(value, date, endDate){
                    vue.detail.zhaopinToudiShenheTime = value;
                }
            });
        }




       // 审核状态的查询
       function zhaopinToudiYesnoTypesSelect() {
           //填充下拉框选项
           layui.http.request("dictionary/page?page=1&limit=100&sort=&order=&dicCode=zhaopin_toudi_yesno_types", "GET", {}, (res) => {
               if(res.code == 0){
                   vue.zhaopinToudiYesnoTypesList = res.data.list;
               }
           });
       }


       // 结果的查询
       function zhaopinToudiJieguoTypesSelect() {
           //填充下拉框选项
           layui.http.request("dictionary/page?page=1&limit=100&sort=&order=&dicCode=zhaopin_toudi_jieguo_types", "GET", {}, (res) => {
               if(res.code == 0){
                   vue.zhaopinToudiJieguoTypesList = res.data.list;
               }
           });
       }



        //单个 简历查询
        function initializationJianli(id){
            layui.http.request("jianli/detail/" + id, 'get', {}, function (res) {
                if(res.code ==0){
                    vue.jianli = res.data;
                    vue.detail.jianliId=vue.jianli.id//赋值给detail
                }
            });
        }
        //列表 简历查询
        function initializationJianliList(){
            layui.http.request("jianli/page?page=1&limit=100&sort=&order=", 'get', {}, function (res) {
                if(res.code ==0){
                    vue.jianliList = res.data.list;
                }
            });
        }
        //单个 招聘查询
        function initializationZhaopin(id){
            layui.http.request("zhaopin/detail/" + id, 'get', {}, function (res) {
                if(res.code ==0){
                    vue.zhaopin = res.data;
                    vue.detail.zhaopinId=vue.zhaopin.id//赋值给detail
                }
            });
        }
        //列表 招聘查询
        function initializationZhaopinList(){
            layui.http.request("zhaopin/page?page=1&limit=100&sort=&order=", 'get', {}, function (res) {
                if(res.code ==0){
                    vue.zhaopinList = res.data.list;
                }
            });
        }
    </script>
</body>
</html>
